@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'Fabrik-Regular';
    src: url('../fonts/fabrik-regular-webfont.woff2') format('woff2'),
			url('../fonts/fabrik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT America Mono-Regular';
    src: url('../fonts/gt_america_mono_regular-webfont.woff2') format('woff2'),
			url('../fonts/gt_america_mono_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Webdings';
    src: url('../fonts/webdings-webfont.woff2') format('woff2'),
			url('../fonts/webdings-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: 'Fabrik-Regular', sans-serif;
	font-size:2rem;
	letter-spacing: 0.5px;
	line-height: 1.2;
	margin:0px;
	padding:0px;
	background-color: rgb(250,250,250);
}

.about {
	background-color: rgb(40,40,40);
	color: white;
}

.about a {
	color: white;
}

.noscroll {
	overflow: hidden;
}

::selection {
	background-color:gray;
}

.num {font-family: 'GT America Mono-Regular', monospace;
font-size:1.02em}

.overlay {
	z-index:2;
	position:fixed;
	top: 0;
	width: 100%;
	height: auto;
	max-width: 1440px;
	max-height:999px;
	pointer-events: none;
	margin: auto;
}

.cover {
	width: 66%;
	display: block;
	}

.drag {
	cursor:move;
}

#menu {
	width: 100%;
	position:fixed;
	top: 1rem;
	right:1rem;
	z-index:2;
	text-align: right;
	font-size:2rem;
}

.running-head-left {
	position:sticky;
	float: left;
	height: 100vh;
	top:1rem;
	left: 1rem;
	text-align: center;
	writing-mode: vertical-rl;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.running-head-right {
	position:sticky;
	float: right;
	height: 100vh;
	top:1rem;
	right: 1rem;
	text-align: center;
	writing-mode: vertical-lr;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.text-container {
	margin: 1rem 8rem 1rem 1rem;
	max-width: 66rem;
}

.article-container {
	margin:auto;
	padding:1rem 8rem 1rem 8rem;
	max-width: 66rem;
}

.center {
	text-align: center;
}

.issue {
	z-index:0;
	height: 100vh;
	overflow-y: scroll;
}


.issue.one {
	background-color:#fff580;
}
.issue.two {
	background-color:#ee604d;
}
.issue.three {
	background-color:#94d6f1;
}

.content {
	margin: 1rem;
}

.issue-number {
	position:fixed;
	bottom:40px;
	font-size: 98px;
	font-family: 'GT America Mono-Regular', monospace;
	display: none;
}






a {
  display: inline-block;
  position: relative;
	text-decoration: none;
	color:black;
	}

a:hover {
  text-decoration: underline;
}

a:active {text-decoration:none;}


.multiply {
  mix-blend-mode: multiply;
}

figure.image-block {
  max-width: 100%;
  width: min-content;
  margin: 0 auto 1em auto;
}

figure.image-block img {
  margin: auto;
  width:100%;
}

figcaption {
  max-width: 100%;
  font-size: 0.75em;
  margin: 0.25em auto 0 auto;
}

.icon {
  font-family: 'Webdings';
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.05em;
  -webkit-text-stroke-color: black;
}

.block-quote {
  margin-left:3em;
}

.footnote {
  font-size: 0.625em;
}

ol {
  padding: 0;
}

ol li {
  list-style: none;
}

ol.hanging {
  font-size: 1.5rem;
  margin: 6rem auto;
}

.hanging li {
  margin: 0 0 1em 0;
}

#footnotes {
  font-size: 1.5rem;
  margin: 6rem auto;
  columns: 2;
  -moz-columns: 2;
  -moz-columns-gap: 2;
  -webkit-columns: 2;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
}

.footnotes-list {
  padding: 0;
  margin: 0;
}

.footnotes-list li {
  list-style: none;
  margin: 0 0 1em 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

.footnotes-list a {
  hyphens: auto;
  -webkit-hyphens: auto;
  word-break: break-word;
}

.footnotereverse a {
  font-family: 'Fabrik-Regular', sans-serif;
  text-decoration: none;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	body {
		font-size: 0.75rem;
	}
	.noscroll {
		overflow: auto;
	}
	.container {
		display: block;
	}
	.issue {
		height:33vh;
		overflow: auto;
	}
	.article-container {
		margin: auto;
		padding: 1rem 3rem;
	}
}
